@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    margin: 10px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div{
    padding-bottom: 20px;
}

img{
    border-radius: 20px;
    width: 400px;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin: 20px;
}